@CHARSET "UTF-8";

.mainpost {
	text-align: center;
	background-color: #f8dce0;

	}

.posttext{
	white-space: pre-wrap;
	text-align: left;
	border-bottom: dashed;
	border-bottom-width: 1px;
	background-color: #f0f8ff;
	font-weight: bold;
}

.posdel {
	text-align: right;
	margin-left: 50px;
	margin-right: 50px;
	}

.title {
	border-bottom: solid;
	text-align: left;
	background-color: #f0f8ff;
	margin-top: 5px;
	border-bottom-width: 1px;



	}

.title:first-line {
	font-size: xx-large;
	font-weight: bold;

	}



.searchmenu {

	width: 15%;
 	/*max-width: 1000px;*/
	position:relative;
	top:50px;
	left:50px;
	display: inline-block;
	background-color: #e6e6fa;


}

.postsmenu{
	width: 80%;
 	/*max-width: 1000px;*/
	position:relative;
	top:80px;
	left:50px;
	}


.category{
	text-align: left;
	background-color: #f0f8ff;
}

.commentlist{
	text-align: left;
	background-color: #f0ffff;
}

.commentname{
	text-decoration: underline;
	background-color: #f0ffff;
}

.tocomment{
	background-color: #f0ffff;
	border-top: dashed;
	border-top-width: 1px;
}

.postborder{
	border: solid;
	border-width: 1px;
	display: inline-block;

}
